.computerwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .wholecomputer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .monitortop {
    width: 500px;
    height: 300px;
    background-color: #263545;
    color:rgb(19, 212, 19);
    border: 20px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .monitortext {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
  }
  
  .animation2,
  .animation3,
  .animation4,
  .animation5,
  .animation6 {
      margin-left: 50px;
  }
  
  .animation1, 
  .animation2,
  .animation3,
  .animation4,
  .animation5,
  .animation6,
  .animation7 {
      font-family: 'Source Code Pro', monospace;
      position: relative;
      width: max-content;
  }
  
  .animation1::before,
  .animation1::after,
  .animation2::before,
  .animation2::after,
  .animation3::before,
  .animation3::after,
  .animation4::before,
  .animation4::after,
  .animation5::before,
  .animation5::after,
  .animation6::before,
  .animation6::after,
  .animation7::before,
  .animation7::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }
  
  
  .animation1::before {
    background-color: #263545;
    animation: 
        typewriter 2s steps(13) 1s forwards;
  }
  
  .animation2::before {
    background-color: #263545;
    animation:
        typewriter 2.5s steps(18) 4.5s forwards;
  }
  
  .animation3::before {
    background-color: #263545;
    animation: 
        typewriter 2.5s steps(23) 8.5s forwards;
  }
  
  .animation4::before {
    background-color: #263545;
    animation: 
        typewriter 2.5s steps(23) 12.5s forwards;
  }
  
  .animation5::before {
    background-color: #263545;
    animation: 
        typewriter 3s steps(26) 16.5s forwards;
  }
  
  .animation6::before {
    background-color: #263545;
    animation: 
        typewriter 3.5s steps(36) 21s forwards;
  }
  
  .animation7::before {
    background-color: #263545;
    animation: 
        typewriter 0.5s steps(2) 26s forwards;
  }
  
  .animation1::after {
    width: .125em;
    background: rgb(19, 212, 19);
    animation: 
        typewriter 2s steps(13) 1s forwards,
        blink 600ms steps(13) infinite,
        done 0s 4.5s forwards;
  }
  
  .animation2::after {
    width: .125em;
    background: transparent;
    animation:
        typewriter 2.5s steps(18) 4.5s forwards,
        blink-2 600ms steps(18) 4.5s infinite,
        done 0s 8.5s forwards;
  }
  
  .animation3::after {
    width: .125em;
    background: transparent;
    animation: 
        typewriter 2.5s steps(23) 8.5s forwards,
        blink-2 600ms steps(23) 8.5s infinite,
        done 0s 12.5s forwards;
  }
  
  .animation4::after {
    width: .125em;
    background: transparent;
    animation: 
        typewriter 2.5s steps(23) 12.5s forwards,
        blink-2 600ms steps(23) 12.5s infinite,
        done 0s 16.5s forwards;
  }
  
  .animation5::after {
    width: .125em;
    background: transparent;
    animation: 
        typewriter 3s steps(26) 16.5s forwards,
        blink-2 600ms steps(26) 16.5s infinite,
        done 0s 21s forwards;
  }
  
  .animation6::after {
    width: .125em;
    background: transparent;
    animation: 
        typewriter 3.5s steps(36) 21s forwards,
        blink-2 600ms steps(36) 21s infinite,
        done 0s 26s forwards;
  }
  
  .animation7::after {
    width: .123em;
    background: transparent;
    animation: 
        typewriter 0.5s steps(2) 26s forwards,
        blink-2 600ms steps(2) 26s infinite
  }
  
  
  @keyframes typewriter {
    to {
        left: 100%;
    }
  }
  
  @keyframes blink {
    to {
        background: transparent;
    }
  }
  
  @keyframes blink-2 {
    to {
        background: transparent;
    }
    0% {
        background: rgb(19, 212, 19);
    }
  }
  
  @keyframes done {
    to {
        background: transparent;
        width: 0;
    }
  }
  
  .monitorbottom {
    width: 540px;
    height: 75px;
    background-color: #bfc5cc;
    border-bottom: 3px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .monitorneck {
    width: 100px;
    height: 0;
    border-bottom: 70px solid #bfc5cc;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 5px solid #93979b;
  }
  
  .monitorstand {
    width: 200px;
    height: 30px;
    background-color: #bfc5cc;
    border-radius: 50%;
    position: relative;
    bottom: 20px;
  }

@media only screen and (max-width: 1126px) {
    .computerwrapper {
        margin-left: 1.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .computerwrapper {
        margin-left: 0;
        margin-top: 10rem;
    }
}

@media only screen and (max-width: 730px) {
    .computerwrapper {
        margin-left: 0;
        margin-top: 8rem;
    }
  .monitortop {
    width: 400px;
    height: 240px;
    border: 13px solid black;
  }
  .monitortext {
    font-size: 14px;
  }
  .monitorbottom {
    width: 426px;
    height: 59px;
  }
  .monitorneck {
    width: 80px;
    height: 0;
    border-bottom: 60px solid #bfc5cc;
  }
  .monitorstand {
    width: 160px;
    height: 25px;
  }
}

@media only screen and (max-width: 390px) {
  .computerwrapper {
      margin-left: 0;
      margin-top: 3rem;
  }
  .monitortop {
    width: 320px;
    height: 210px;
    border: 12px solid black;
  }
  .monitortext {
    font-size: 12px;
  }
  .monitorbottom {
    width: 344px;
    height: 48px;
  }
  .monitorneck {
    width: 70px;
    height: 0;
    border-bottom: 50px solid #bfc5cc;
  }
  .monitorstand {
    width: 160px;
    height: 25px;
  }
}

@media only screen and (max-width: 375px) {
    .computerwrapper {
        margin-top: 4rem;
    }
    .monitortop {
      width: 300px;
      height: 200px;
      color:rgb(212, 19, 209);
      border: 12px solid black;
    }
    .monitortext {
      font-size: 11px;
    }
    .monitorbottom {
      width: 321px;
      height: 48px;
    }
    .monitorneck {
      width: 65px;
      height: 0;
      border-bottom: 50px solid #bfc5cc;
    }
    .monitorstand {
      width: 150px;
      height: 22px;
    }
  }