@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

.flex {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:rgb(130, 204, 130);
}

.main {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introtext {
  font-size: 45px;
  font-weight: 600;
  color: #243241;
  text-shadow: 4px 4px #bfc5cc;
  font-family: 'Rubik', sans-serif; 
}

.introparawrapper {
  padding: 12px;
  background-color: rgba(191, 197, 204, 0.8);
  border-radius: 25px;
}

.intropara {
  font-size: 22px;
  color: #243241;
}
