@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

.flex {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomecontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  position: relative;
  bottom: 50px;
}

.wholeintrotext {
  margin-right: 5rem;
}

.flexcontent {
  display: flex;
}

.introtext {
  font-size: 45px;
  font-weight: 500;
  color: rgb(34 197 94);
  /* text-shadow: 4px 4px #bfc5cc; */
  font-family: 'Rubik', sans-serif; 
}

.introparawrapper {
  padding: 12px;
  background-color: rgba(191, 197, 204, 0.8);
  border-radius: 25px;
}

.intropara {
  font-size: 22px;
  color: #243241;
}

@media only screen and (max-width: 1126px) {
  .wholeintrotext {
    margin-right: 1.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .flexcontent {
    display: flex;
    flex-direction: column-reverse;
    z-index: -1;
  }

  .wholeintrotext {
    margin: 10px 0 50px 0;
    text-align: center;
  }

  .welcomecontent {
    position: static;
    bottom: 0;
  }
}

@media only screen and (max-width: 375px) {
  .introtext {
    font-size: 40px;
    text-shadow: 3.5px 3.5px #bfc5cc;
  }
  .introparawrapper {
    padding: 10px;
    background-color: rgba(191, 197, 204, 0.8);
    border-radius: 25px;
  }
  .intropara {
    font-size: 20px;
    color: #243241;
  }
}