.logo {
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    color: rgb(19, 212, 19);
    background-color: black;
    border: 3px solid black;
    border-radius: 25px;
}

@media only screen and (max-width: 730px) {
    .logo {
        font-size: 16px;
    }
}

@media only screen and (max-width: 375px) {
    .logo {
        font-size: 15px;
    }
}